*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* common class */
.container{
    width: 80%;
    margin: 0 auto;
    border: 1px solid red;
}
.btn{
    padding: 10px 20px;
    font-size: 20px;
    color:aliceblue;
    background-color:#469165;
    font-weight: bold;
    border: none;
    border-radius: 4px;;
}
nav #hero-head{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    
}
nav #hero-head ul{
    list-style-type: none;
    display:flex;
}
nav #hero-head ul li a{
    text-decoration: none;
    padding: 14px 20px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.btn{
    padding: 10px 20px;
    font-size: 20px;
    color:aliceblue;
    background-color:#469165;
    font-weight: bold;
    border: none;
    border-radius: 4px;;
}
section{
    background-image: url(assets/hero-bg.png);
    width:100%;
    height:500px;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    border: 2px solid red;
}
#hero-section{
    width: 80%;
    position: absolute;
    margin: 60px 150px;
    height: 400px;

}
.hero{
    text-align: center;
}
.hero-btn{
    font-size: 25px;
    color:#469165;
    border: none;
    border-radius: 50px;
    padding:8px 12px;
    font-weight: 600;
}
.hero h1{
    font-size: 60px;
}
.hero p{
    color:aliceblue;
    margin-bottom: 20px;
    font-size: larger;
}
.btn2{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    margin-left: 10px;
    border: none;
    background-color: none;
}
#note-box{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
#note-box h1{
    margin-bottom: 10px;
    font-size: 50px;
}
#note-box p{
    font-size: 15px;
    color:rgb(124, 126, 128);
    font-weight: 600;
}
/* card section */
#card-container .card-box{
    display: flex;
    gap:20px;
}
#card-container .card{
    padding: 20px;
    text-align: center;
    box-shadow: 0 20px 20px rgb(219, 217, 214);
    border-radius: 10px;
}
#card-container .card img{
    background-color:#f82f2f;
    padding: 10px;
    border: none;
    border-radius: 100px;
    margin-top: 30px;
}
#card-container .card h2{
    margin-bottom: 10px;
}
#card-container .card p{
    font-size: 12px;
    color: rgb(124, 126, 128);
    font-weight: 500;
}