*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* common class */
.container{
    width: 80%;
    margin: 0 auto;
}
.hero *{
    margin-bottom: 10px;
}
nav #hero-head{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    
}
nav #hero-head ul{
    list-style-type: none;
    display:flex;
}
nav #hero-head ul li a{
    text-decoration: none;
    padding: 14px 20px;
    color: black;
    font-size: 20px;
}
.btn{
    padding: 10px 20px;
    font-size: 20px;
    color:aliceblue;
    background-color:#469165;
    font-weight: bold;
    border: none;
    border-radius: 4px;;
}
section{
    background-image: url(assets/hero-bg.png);
    width: 100%;
    height: 1300px;
    background-repeat: no-repeat;
    background-position: cover;
    position: relative;
}
#hero-section{
    width: 80%;
    position: absolute;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;
    height: 400px;

}
.hero{
    text-align: center;
}
.hero-btn{
    font-size: 25px;
    color:#469165;
    border: none;
    border-radius: 50px;
    padding:8px 12px;
    font-weight: 600;
}
.hero h1{
    font-size: 70px;
}
.hero p{
    color:aliceblue;
    margin-bottom: 20px;
}